<!DOCTYPE html >
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Contact Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome To Contact Page</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, minima voluptatibus neque voluptatem architecto temporibus unde facilis modi similique incidunt?
    </div>
    <script>
        console.log("Contact Page");
    </script>
    <script>
        console.log("Second Contact Page Script");
    </script>
</body>
</html>