<!DOCTYPE html >
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Login Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome To Login Page</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, minima voluptatibus neque voluptatem architecto temporibus unde facilis modi similique incidunt?
    </div>
    <script>
        console.log("Login Page");
    </script>
    <script>
        console.log("Second Login Page Script");
    </script>
</body>
</html>