<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome To Services Page</h1>
        <h2>Services Offerd by Gaowtam</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo dolor incidunt consequatur labore qui illo perspiciatis asperiores molestias voluptates!
    </section>
    <script>
        console.log("Services Page");
    </script>
</body>
</html>