<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <div id="content" class="text-center mt-5 md:w-1/2 mx-auto">
      <!-- <h1 class="text-2xl text-red-900">
        Email not verified !! Something went wrong !!
      </h1> -->

      <!-- Message -->
      <!-- message html ke call kora hoice -->
      <div th:replace="~{message::messagebox}"></div>

      <a href="/login" class="bg-green-900 mt-2 text-white px-3 py-2 rounded">
        Login
      </a>
    </div>
    <script>
      console.log("Home Page");
    </script>
  </body>
</html>
